body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #f0f0f0;
   
}

.bg {
    background-image: url("./sasquatch.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 1;
  }



header {
    text-align: center;
    padding: 10.6% /*50px 20px*/;
    background: rgba(100, 100, 100, .4);
    
}

header h1 {
    font-size: 4em;
    color: #f0f0f0c4;
    font-weight: bold;
}

header p {
    font-size: 1.4em;
    color: #f0f0f0;
    font-weight: normal;

}

nav {
    text-align: center;
    background: rgb(22 23 79 / 49%);
    /*background: #212f3c;*/
    padding: 15px;

}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    text-align: center;
    padding: 50px 20px;
}

section h2 {
    color: #6fc0f3;
    font-size: 3em;
    font-weight: bold;
    padding-top:1em;
}

section h3 {
    color: #ebf7ff;
    font-size: 2em;
    font-weight: bold;
    padding-top:.5em;
}

#thumbs {   
    width: 940px;
    margin-top:90px;
    margin-left: auto; 
    margin-right: auto;
  }

#gigs ul {
    list-style: none;
    padding: 0;
}

#gigs li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.social-links a {
    display: inline-block;
    margin: 10px;
    color: #6fc0f3;
    font-size: 1.2em;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1e2a38;
}
